<ng-container *transloco="let t">
  <h2 mat-dialog-title>{{ t('deleteDialog.title') }}</h2>
  <mat-dialog-content>
    <p>
      {{ t('deleteDialog.messageBefore') }}"{{ data.policyName }}"{{
        t('deleteDialog.messageAfter')
      }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button con-x-button variant="outlined" color="neutral" mat-dialog-close data-cy="delete-cancel">
      {{ t('deleteDialog.cancel') }}
    </button>
    <button con-x-button color="danger" [mat-dialog-close]="true" data-cy="delete-confirm">
      {{ t('deleteDialog.confirm') }}
    </button>
  </mat-dialog-actions>
</ng-container>
