<div class="cx-policy-table" *transloco="let t">
  @if (showHeader()) {
    <div class="table-header">
      <span class="col-name">{{ t('policies.table.policyId') }}</span>
      <span class="col-category">{{ t('policies.table.category') }}</span>
      <span class="col-date">{{ t('policies.table.lastChange') }}</span>
      @if (showAction()) {
        <span class="col-action"></span>
      }
    </div>
  }
  @for (policy of policies(); track policy.id) {
    <a
      [routerLink]="['/policies', policy.id]"
      class="table-row"
      [attr.aria-label]="policy.policyId"
      data-cy="policy-row"
    >
      <div class="col-name">
        <span class="policy-name">{{ policy.policyId }}</span>
      </div>
      <span class="col-category">
        <app-cx-category-badge [category]="policy.category" />
      </span>
      <span class="col-date">{{ policy.updatedAt | relativeDate }}</span>
      @if (showAction()) {
        <span class="col-action">
          <span class="material-icons view-icon" aria-hidden="true">visibility</span>
        </span>
      }
    </a>
  }
</div>
